{% extends 'base.html.twig' %}

{% block title %}ProductManufacturer index{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#manufacturerTable').DataTable(
            {
                stateSave: true
            }
        );
    });
</script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1>Manufacturers</h1>
        </div>
        <div class="col text-right">
            <a class="btn btn-primary" href="{{ path('app_product_manufacturer_new') }}"><span class="fa fa-plus"></span> New</a>
            <a class="btn btn-primary" href="{{ path('app_product_manufacturer_import') }}"><span class="fa fa-file"></span> Import</a>
        </div>
    </div>

    <table id="manufacturerTable" class="table display table-striped table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_manufacturer in product_manufacturers %}
            <tr>
                <td>{{ product_manufacturer.code }}</td>
                <td>{{ product_manufacturer.name }}</td>
                <td class="text-center">
                    <a href="{{ path('app_product_manufacturer_show', {'id': product_manufacturer.id}) }}">View</a>&nbsp;|&nbsp;
                    <a href="{{ path('app_product_manufacturer_edit', {'id': product_manufacturer.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
