{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#customerTable').DataTable({
            ajax: {
                url: Routing.generate('app_customer_data'),
                method: 'POST'
            },
            fnServerParams: function(data) {
                data['order'].forEach(function(items, index) {
                    data['order'][index]['column_name'] = data['columns'][items.column]['name'];
                });
            },
            columns: [
                { name: 'c.customerNumber', data: 'customerNumber', render: function(data, type, row, meta) {
                    return '<a href="' + Routing.generate('app_customer_show', {id: row.id}) + '">' + row.customerNumber + '</a>';
                } },
                { name: 'c.company', data: 'company' }
            ],
            processing: true,
            serverSide: true,
            stateSave: true
        });
    });
</script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Customers</h1>
        </div>
        <div class="col text-right">
            <a class="btn btn-primary" href="{{ path('app_customer_new') }}"><span class="fa fa-plus"></span> New</a>
        </div>
    </div>

    <table id="customerTable" class="table display table-striped table-bordered">
        <thead>
            <tr>
                <th>CustomerNumber</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="{{ path('app_customer_new') }}">Create new</a>
{% endblock %}
