{% extends 'base.html.twig' %}

{% block title %}ProductCategory{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-2">
            <a class="btn btn-light" href="{{ path('app_product_category_index') }}"><span class="fa fa-arrow-left"></span> Back</a>
        </div>
        <div class="col">
            <h1>Viewing Category</h1>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product_category.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ product_category.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_product_category_edit', {'id': product_category.id}) }}"><span class="fa fa-edit"></span> Edit</a>
    
{% endblock %}
