{% extends 'base.html.twig' %}

{% block title %}Import Products{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {   
            $.get('{{ path('app_product_import_progress') }}', {batch: 0, totalBatches: {{ totalBatches }}, importKey: '{{ importKey }}'}, function(data) {
                console.log("FIRST REQUEST");
                if (data.batch == data.totalBatches) {                    
                    $(".progress-bar").attr('style', 'width: 100%');
                    $(".progress-bar").attr('aria-valuenow', 100);
                    $("#finished").append('<a class="btn btn-primary" href="{{ path('app_product_index') }}">Finished</a>');
                } else {
                    for (i = 0; i <= data.totalBatches; i++) {
                        $.get('{{ path('app_product_import_progress') }}', {batch: i, totalBatches: {{ totalBatches }}, importKey: '{{ importKey }}'}, function(data) {
                            console.log(i + " REQUEST");
                            current_width = (100 * (data.batch / data.totalBatches));                            
                            $(".progress-bar").attr('style', 'width: ' + current_width + '%');
                            $(".progress-bar").attr('aria-valuenow', current_width);
                            if (current_width == 100) {
                                $("#finished").append('<a class="btn btn-primary" href="{{ path('app_product_index') }}">Finished</a>');
                            }
                        });
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-2">
            <a class="btn btn-light" href="{{ path('app_product_index') }}"><span class="fa fa-arrow-left"></span> Back</a>
        </div>
        <div class="col">
            <h1>Importing Products</h1>
        </div>
        <div class="col text-right">
        </div>
    </div>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <br>

    <div id="finished"></div>

{% endblock %}
