{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#productTable').DataTable({
            ajax: {
                url: Routing.generate('app_product_data'),
                method: 'POST'
            },
            fnServerParams: function(data) {
                data['order'].forEach(function(items, index) {
                    data['order'][index]['column_name'] = data['columns'][items.column]['name'];
                });
            },
            columns: [
                { name: 'p.itemNumber', data: 'itemNumber', render: function(data, type, row, meta) {
                    return '<a href="' + Routing.generate('app_product_show', {id: row.id}) + '">' + row.itemNumber + '</a>';
                } },
                { name: 'p.name', data: 'name' },
                { name: 'p.manufacturer', data: 'manufacturer' },
                { name: 'p.type', data: 'type' },
                { name: 'p.releaseDate', data: 'releaseDate', render: function (data, type, row, meta) {
                    return (new Date(data)).toLocaleDateString();
                } }
            ],
            processing: true,
            serverSide: true,
            stateSave: true
        });

        $('#showInactiveCheckbox').on('click', function(e) {
            var table = $('#productTable').DataTable()

            if (e.target.checked) {
                table.ajax.url(Routing.generate('app_product_data', {showInactive: true}));
            } else {
                table.ajax.url(Routing.generate('app_product_data'));
            }

            table.draw();
        });
    });
</script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Products</h1>
        </div>
        <div class="col text-right">
            <a class="btn btn-primary" href="{{ path('app_product_new') }}"><span class="fa fa-plus"></span> New</a>
            <a class="btn btn-primary" href="{{ path('app_product_import') }}"><span class="fa fa-file"></span> Import</a>
        </div>
    </div>

    <form class="form-inline">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="showInactiveCheckbox" value="true">
            <label class="form-check-label" for="showInactiveCheckbox">Show Inactive Products</label>
        </div>
    </form>

    <table id="productTable" class="table display table-striped table-bordered">
        <thead>
            <tr>
                <th>ItemNumber</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
