{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#productTable').DataTable({
            ajax: {
                url: '{{ path('app_product_data') }}',
                method: 'POST'
            },
            fnServerParams: function(data) {
                data['order'].forEach(function(items, index) {
                    data['order'][index]['column_name'] = data['columns'][items.column]['name'];
                });
            },
            columns: [
                { name: 'p.itemNumber', data: 'itemNumber' },
                { name: 'p.name', data: 'name' },
                { name: 'p.releaseDate', data: 'releaseDate', render: function (data, type, row, meta) {
                    return (new Date(data)).toLocaleDateString();
                } },
                { 
                    data: 'id',
                    render: function (data, type, row, meta) {
                        return '<div class="text-center"><a href="' + data + '">View</a> &nbsp;|&nbsp; <a href="' + data + '/edit">Edit</a></div>';
                    },
                    orderable: false
                }
            ],
            processing: true,
            serverSide: true,
            stateSave: true
        });
    });
</script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Products</h1>
        </div>
        <div class="col text-right">
            <a class="btn btn-primary" href="{{ path('app_product_new') }}"><span class="fa fa-plus"></span> New</a>
        </div>
    </div>

    <table id="productTable" class="table display table-striped table-bordered">
        <thead>
            <tr>
                <th>ItemNumber</th>
                <th>Name</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
