{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-8">

    <div class="row">
        <div class="col-2">
            <a class="btn btn-light" href="{{ path('app_product_index') }}"><span class="fa fa-arrow-left"></span> Back</a>
        </div>
        <div class="col">
            <h1>Viewing Product</h1>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Item Number</th>
                <td>{{ product.itemNumber }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Release Date</th>
                <td>{{ product.releaseDate|format_date('long') }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_product_edit', {'id': product.id}) }}"><span class="fa fa-edit"></span> Edit</a>

        </div>

        <div class="col-md-4">

            {% for image in product.images %}

                <div class="card" style="width:200px;">
                    <img class="card-img-top" src="{{ asset('/images/products/' ~ image.image.name) }}">
                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}
