{% extends 'base.html.twig' %}

{% block title %}ProductType index{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#typeTable').DataTable({
            ajax: {
                url: '{{ path('app_product_type_data') }}',
                method: 'POST'
            },
            fnServerParams: function(data) {
                data['order'].forEach(function(items, index) {
                    data['order'][index]['column_name'] = data['columns'][items.column]['name'];
                });
            },
            columns: [
                { name: 'p.code', data: 'code', render: function(data, type, row, meta) {
                    return '<a href="' + Routing.generate('app_product_type_show', {id: row.id}) + '">' + row.code + '</a>';
                } },
                { name: 'p.name', data: 'name' }
            ],
            processing: true,
            serverSide: true,
            stateSave: true
        });
    });
</script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1>Product Types</h1>
        </div>
        <div class="col text-right">
            <a class="btn btn-primary" href="{{ path('app_product_type_new') }}"><span class="fa fa-plus"></span> New</a>
            <a class="btn btn-primary" href="{{ path('app_product_type_import') }}"><span class="fa fa-file"></span> Import</a>
        </div>
    </div>

    <table id="typeTable" class="table display table-striped table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endblock %}
